<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>KanbanFire</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container"></div>
    <h2>Backlog</h2>
    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      (cdDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="inProgressList, doneList"
    ></mat-card>
    <div class="container">
      <h2>In Progress</h2>
    </div>
    <div class="container"><h2>Done</h2></div>
  </div>
</div>
